.main-div {
  padding: 100px 100px 90px 100px;
  text-align: center;
  flex-grow: 1;
  /* display: flex; */
}
@media screen and (max-width: 959px) {
  .main-div {
    padding: 10px;
  }
}
.form-text-fields {
  width: -moz-available;
  width: -webkit-fill-available;
}
.container-div {
  background: linear-gradient(
    270deg,
    rgba(55, 7, 117, 1) 0%,
    rgba(118, 34, 158, 1) 80%
  );
}
.MuiRadio-colorPrimary {
  color: linear-gradient(
    90deg,
    rgba(55, 7, 117, 1) 0%,
    rgba(118, 34, 158, 1) 80%
  );
}
.App {
  text-align: center;
  flex-grow: 1;
}
